# Ignore Emacs Backup Files
*#*#
*.#*
*~

# Ignore cmake build dir
build/
CMakeFiles/
extlibs/
CMakeCache\.txt
Ogre\.log
cmake_install\.cmake
Makefile
bin/SDL2ConfigVersion\.cmake

# Ignore random junk
.*\.swp

compile_commands.json
